.top{
    background-color: rgba(18, 96, 175, 0.82);
    height: 1.3rem;
}

@media screen and (min-width: 1024px){
      #header{
             max-width:1280px;
             margin:0 auto ;
             }
            
    }
/*tạo thanh menu ngang*/

.menu{
  display: flex;
  justify-content: center;
  background-color: rgba(48, 121, 194, 0.82);
  z-index: 10;
}
.menu p{
  margin-bottom: 0px;
  margin-top: 0px;
}
.menu .navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.menu .dropdown{
  margin-top: 0px;
}
.menu .dropbtn{
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropbtn {
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(48, 121, 194, 0.82);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #FFFFFF;
  padding:4px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: rgba(34, 90, 146, 0.82)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(17, 75, 134, 0.82);
} 
  #content{
    display: block;
    float: left;
    width: 100%;
  }
  #content1{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    background-color: #fff;
  }
  #carouselExampleIndicators{
    margin: 0em auto;
    margin-top: 20px;
    padding: 20px;
    min-height: 320px;
    width: 100%;
    
  }
  .row-content1{
    max-width: 1120px;
    height:254px ;
  }
  .row1{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
  }
  .row2{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
  }
  .row3{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
  }
  .row4{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
  }
  
  .content-siderbar{
    width: 66%;
  }
  .tabs-nav{
    display: block;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    list-style: none;
    word-spacing: -5px;
  }
  .tabs-nav li{
    display: inline-block;
    word-spacing: 0;
  }
  .tabs-nav li>a{
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid rgba(34, 84, 134, 0.2);
    background: #F3F5F6;
  }
  .tabs-nav >li>a.tab1 {
    color: rgba(34, 84, 134, 0.82);
    background: #fff;
    border-bottom-color: #fff;
    margin-top: -2px;
    border-top: 3px solid rgba(34, 84, 134, 0.63)
  }
  .tabs-1{
    display: block;
    border: 1px solid rgba(34, 84, 134, 0.2);
    padding: 5px;
    
  }
  .content-siderbar1 >h3>a{
    color: #4685bd;
    text-decoration: none;
  }
  .tabs-1 a{float: left;
    margin-right: 1em;}
.right-siderbar 
{
      width: 32%;
      margin-left: 2%;
      margin-right: -2px;
      border: 1px solid rgba(34, 84, 134, 0.2);
      border-top: 3px solid rgba(34, 84, 134, 0.82);
      display: block;
    float: right;
    margin-top: -113%;
  }
.search{
  max-width: 100%;
    overflow: hidden;
    margin: 5px 2% 10px;
}
.screen{
  clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.search-field{
  padding: 5px;
    font-weight: 400;
    display: block;
    border-radius: 0;
    width: 100%;
}
label {
  display: block;
  float: left;
  width: 70%;
}
.submit-search {
  padding: 7px 0;
  font-size: 16px;
  display: block;
  float: left;
  margin-left: 5%;
  width: 25%;
  text-align: center;
  background-color: rgba(34, 84, 134, 0.82);
  color: #fff;
  text-transform: uppercase;
  border: none;
  box-shadow: none !important;
  border-radius: 0;
  text-shadow: none;
}
.home-ringht{
  max-width: 100%;
    overflow: hidden;
    margin: 5px 2% 10px;

}
a {
  color: #337ab7;
  text-decoration: none;
}
.footer-siderbar{
 margin-top: 30px;
}

.severus-siderbar{
  padding: 0 10px;
    border: 1px solid rgba(34, 84, 134, 0.2);
    border-top: 3px solid rgba(34, 84, 134, 0.82);
}
.severus-siderbar .item-wrapper{
  overflow: auto;
}
.item{
    float: left;
    margin: 0;
    padding: 5px 0.5% 10px;
    width: 20%;
}
.footer {
  color: #EAEAEA;
  background-color: rgba(44, 108, 173, 0.82);
  padding: 20px 0;
  margin-top: 20px;
}
.footer-sidebar-wrapper {
  max-width: 1120px;
  margin: 0 auto 20px;
  overflow: auto;
  color: #D8D8D8;
}
.footer-sidebar-wrapper > .sidebar > h3{
  text-shadow: 1px 1px 1px #353535;
}
.footer-sidebar-wrapper > .sidebar{
  display: block;
  float: left;
  width: 32%;
  margin-left: 2%;
}
.footer > .site-footer {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0,0,0,.1);
  padding: 10px 0;
}
.footer .site-info {
  width: 100%;
  max-width: 1120px;
  margin: auto;
}
.footer .site-info span {
  display: block;
  text-align: center;
}

